doctype html
html(lang="en" ng-app="zeus" ng-strict-di)
  head
    meta(charset="utf-8")
    title Operation Zeus
    link(rel="stylesheet" href="../../assets/build/css/master.min.css" media="screen" title="no title" charset="utf-8")
  body(ng-controller="MainCtrl" ng-class="{ 'dark-theme': $root.settings.theme == 'dark', 'twilight-theme': $root.settings.theme == 'twilight' }")
    include includes/header

    //- md-content(style="height: 91.5%;")
    main(flex style="min-height: 91.5%")
      span(ng-show="$root.nowPlaying.playing && !podcastPlayer.onPodcastPage" style="position: absolute; z-index: 5; right: 1px;")
        md-button(ui-sref="playPodcast({ podcast: $root.nowPlaying.podcastId, episode: $root.nowPlaying.episodeId })" aria-label="Now playing").md-icon-button
          md-icon(md-icon-library="material-icons") chevron_right
          md-tooltip(md-direction="left") Now playing
      span(ng-show="$root.nowPlaying.playing && podcastPlayer.onPodcastPage" style="position: absolute; z-index: 5; left: 1px;")
        md-button(ui-sref="home" aria-label="Home").md-icon-button
          md-icon(md-icon-library="material-icons") chevron_left
          md-tooltip(md-direction="right") Home

      md-content(ng-if="$root.fullyLoaded"
        ng-class="{ 'slide-left': $root.settings.animations }"
        style="min-height: 512px"
        flex
        ui-view="main")
        
      md-content(ng-if="$root.fullyLoaded"
        ng-class="{ 'slide-left': $root.settings.animations }"
        flex
        ui-view="player")
          
    article(ng-hide="$root.fullyLoaded")#splash-screen
      h1 Loading...
      h4 "Code names are fun" -CGPGrey
      img(src="../../assets/build/img/preloader-multicolor.gif" alt="Loading...")
    
    script.
      if (typeof module === 'object') {window.module = module; module = undefined;}
    script.
      if (window.module) module = window.module;
    script(src="../../assets/build/js/vendor.min.js" charset="utf-8")
    script(src="../../assets/build/js/operation-zeus.min.js" charset="utf-8")
    script(src="../../Zeus.js" charset="utf-8")
