article(ng-controller="HomePageCtrl"
  layout="column"
  layout-align="space-between"
  flex-offset="5"
  data-context-menu="partials/menus/context-home.html")
  
  section(layout="row")
    podcast-panel(ng-repeat="podcast in podcasts track by $index"
      data-context-menu="partials/menus/podcast-select.html"
      ng-right-click="selectPodcast(podcast, $event)"
      ng-class="{ 'podcast-selected': podcast.selected }").no-select
      
    p(ng-show="podcasts.length < 1").md-body-1 You currently have no podcasts! Why don't you add one...?
    
  md-button(aria-label="Add Podcast" ng-click="openPodcastModal($event)" style="position: absolute; bottom: 0; right: 25px;").md-fab.md-primary
    md-icon(md-font-library="material-icons") add
    md-tooltip Add Podcast

  div(style="display: none;")
    div.md-dialog-container#addPodcastModal
      md-dialog(layout-padding)
        form(ng-model="podcastInfo" ng-submit="addNewPodcast(podcastInfo)")
          md-input-container
            label RSS Feed URL
            input(type="text" ng-required="true" ng-model="podcastInfo.url")
          div(layout="row")
            md-button(aria-label="Close" ng-click="closePodcastModal()") Cancel
            md-button(type="submit" aria-label="Add").good Add
          div(layout="row" style="margin-bottom: 2px;" layout-align="center center")
            preloader-small(ng-show="loadingRSSFeed")
            span(ng-show="podcastInfo.hasError").danger
              span(ng-bind="podcastInfo.errorMessage")
